.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    text-align: center;
  }
  
  
  .why h1 {
    font-size: 2.5rem;
    margin-right: 40rem;
  }
  
  .why p {
    
    line-height: 1.6;
  }

  .tt{
    margin-right: 19rem;
  }

  .tt2{
    margin-right: 7rem;
  }

  .tt3{
    margin-right: 6rem;
  }
  